Core data Structure in python

In [ ]:
import pandas as pd
import numpy as np
n = np.array([1,2,3,4,5])
print(n)
s = pd.Series([1,2,3,4,5])
print(s)
s = pd.Series([1,2,4], index=["a","b","c"])
print(s)

data = {
    "name":["Alice","Bob","Charlie"],
    "age":[24,32,12],
    "city":["Delhi","Mumbai","Allahbad"]
}
df = pd.DataFrame(data)
print(df)
print(df.index)
print(df.columns)
df.columns = ["Naam","Umar","Shahar"]
print(df)

[1 2 3 4 5]
0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    4
dtype: int64
      name  age      city
0    Alice   24     Delhi
1      Bob   32    Mumbai
2  Charlie   12  Allahbad
RangeIndex(start=0, stop=3, step=1)
Index(['name', 'age', 'city'], dtype='object')
      Naam  Umar    Shahar
0    Alice    24     Delhi
1      Bob    32    Mumbai
2  Charlie    12  Allahbad